*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
.img-container img{
    height: 100px;
}
.input-container{
    text-align: center;
}
.input-container input{
    margin-right: 30px;
    font-size: 20px;
}
.input-container button{
    font-size: 20px;
}

.container{
    width: 80%;
    background-color: gainsboro;
    height: 500px;
    margin: auto;
    margin-top: 50px;

}
.item{
    width: 90%;
    margin: auto;
    border-bottom: 1px solid black ;
}